.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Terraform

.terraform

.idea

.DS_Store

node_modules

packer/downloads/*
!packer/downloads/README.md
packer/manifest.json
