body {
  display: flex;
  justify-content: center;
  background-color: #0a0a0a;
  font-family: Georgia, Times, "Times New Roman", serif;
}

#doge {
  border-radius: 50px;
}

.controls {
  display: flex;
  flex-direction: column;
}

.caption {
  text-align: center;
  padding: 0.5em;
  font-size: 1.25em;
  color: #eee;
}

.text-input {
  text-align: center;
  border: 2px solid #55d;
  border-radius: 0.33em;
  height: 1.5em;
  font-size: 1.25em;
  margin-top: 0.5em;
  color: #eee;
  background-color: #333;
}

.todo-item {
  margin: 1em 0;
  color: #dde;
}

.todo-item.completed {
  text-decoration: line-through;
  color: #99a;
}
