body {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  font-family: Georgia, Times, "Times New Roman", serif;
}

#doge {
  border-radius: 50px;
}

.controls {
  display: flex;
  flex-direction: column;
}

.caption {
  text-align: center;
  padding: 0.5em;
  font-size: 1.25em;
  color: #9932CC;
}

.text-input {
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 0.33em;
  height: 1.5em;
  font-size: 1.25em;
  margin-top: 0.5em;
  color: #356;
}

.todo-item {
  margin: 0.5em 0;
  font-size: 2em;
}

.todo-item.completed {
  text-decoration: line-through;
  color: #99a;
}
